<div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-xs-12">
          <ul class="left-info">
            <li><a href="#"><i class="fa fa-envelope"></i>eric&#64;dealer.com</a></li>
            <li><a href="#"><i class="fa fa-phone"></i>123-456-7890</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          
          
          <a routerLink="/login" style="color:white" *ngIf="!isLogged; else notLoged">
            <i class="fa fa-key" aria-hidden="true"></i>
            Login
          </a>
          <ng-template #notLoged>
            <a (click)="logout()" class="cursor" style="color:white">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
              Logout
            </a>
          </ng-template>

          <ul class="right-icons">
            
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <header [ngClass]="{'background-header':isScrolled}">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" routerLink="/home" ><h2>Eric Dealer</h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/home" routerLinkActive="active" >Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/cars" routerLinkActive="active">Cars</a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact Us</a>
            </li>
            <li class="nav-item" *ngIf="userData?.role_id==1">
              <a class="nav-link" routerLink="/admin">Admin</a>
            </li>
            <li class="nav-item" *ngIf="isLogged">
               <a class="nav-link"  routerLink="/profile" routerLinkActive="active"> <span style="color:red">Hello  {{userData.first_name}}</span></a> 
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="main-banner header-text" id="top">
    <div class="Modern-Slider">
      <!-- Item -->
      <div class="item item-1">
        <div class="img-fill">
            <div class="text-content">
              <h6>Discover Your Dream Car!</h6>
              <h4>Explore Our Exclusive <br> Vehicle Collection</h4>
              <p>Find the perfect car that suits your style and needs. Our collection features the latest models from top brands, with options for every taste and budget. Experience unmatched quality and performance with every drive.</p>
              <a routerLink="/cars" class="filled-button">Cars</a>
            </div>
        </div>
      </div>
      <!-- // Item -->
      <!-- Item -->
    
      <!-- // Item -->
    </div>
</div>
<!-- Banner Ends Here -->

<div class="request-form">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h4>Need Assistance? Request a Callback!</h4>
        <span>We are here to help you with any questions or support you need. Reach out to our team for personalized assistance and timely solutions.</span>
      </div>
      <div class="col-md-4">
        <a href="contact.html" class="border-button">Contact Us</a>
      </div>
    </div>
  </div>
</div>
