

  <!-- Page Content -->
  <div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>About Us</h1>
          <span>We have over 20 years of experience</span>
        </div>
      </div>
    </div>
  </div>

  <div class="more-info about-info">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="more-info-content">
            <div class="row">
              <div class="col-md-6 align-self-center">
                <div class="right-content">
                  <span>Welcome to Our Company</span>
                <h2>Learn More About <em>What We Do</em></h2>
                <p>At Eric Dealer company, we are dedicated to delivering top-quality products and services. Our mission is to exceed customer expectations through innovation and excellence. We specialize in [brief description of services or products], providing tailored solutions to meet your needs. 
                <br><br>With a team of experienced professionals, we are committed to helping you achieve your goals. Explore our offerings and see how we can assist you in achieving success.</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="left-image">
                  <img src="../../../../assets/images/about-1-570x350.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fun-facts" #counterSection>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="left-content">
            <span>Get to Know Us</span>
            <h2>Our Achievements and <em>Milestones</em></h2>
            <p>At our company, we have worked hard to achieve significant milestones in our journey. Our commitment to quality and customer satisfaction is reflected in these numbers, representing our progress and success.
            <br><br>We continue to expand our reach and improve our services to meet the growing needs of our clients around the world.</p>
          </div>
        </div>
        <div class="col-md-6 align-self-center">
          <div class="row">
            <div class="col-md-6">
              <div class="count-area-content">
                <div class="count-digit">{{ countValue1 | number:'1.0-0' }}</div>
                <div class="count-title">Miles driven</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="count-area-content">
                <div class="count-digit">{{ countValue2 | number:'1.0-0' }}</div>
                <div class="count-title">Happy clients</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="count-area-content">
                <div class="count-digit">{{ countValue3 | number:'1.0-0' }}</div>
                <div class="count-title">Cities</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="count-area-content">
                <div class="count-digit">{{ countValue4 | number:'1.0-0' }}</div>
                <div class="count-title">Cars</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
